.container {
    margin:20px;
    height: 200px;
    border-bottom: 0.1px solid #E5E5E5;
    color: #343A40;
}
.image {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    margin: 5px;
}

.userdetail {
    margin-left: 10px;
}

span {
    cursor: pointer;
}
.username  {
    color: #5CB85C;
}

.date {
    font-size: 13px;
}

.article-info {
    margin: 20px;
}