<div class="container-fluid">
  <div class="row">
    <div class="col-12 bg-dark header-box">
      <h3>{{article.title}}</h3>
      <div class="row">
        <div class="col-1">
          <img class="image" src="{{article.author.image}}" alt="">
        </div>
        <div class="col-2 userdetail">
          <div class="row username">
            {{article.author.username}}
          </div>
          <div class="row date">
            {{article.createdAt.slice(0,10)}}
          </div>
        </div>
        <div class="col-1">
          <span *ngIf="isAuth" (click)="followAuthor(article)" class="btn btn-sm" [ngClass]="{'btn-success': article.author.following, 'btn-secondary': !article.author.following}">&#43; Author</span>
        </div>
        <div class="col-1">
          <span *ngIf="isAuth" (click)="likeArticle(article)" class="btn btn-sm" [ngClass]="{'btn-success': article.favorited, 'btn-secondary': !article.favorited}">&hearts; Article ({{article.favoritesCount}})</span>
        </div>
      </div>
    </div>
    <h2>{{article.description}}</h2>
  </div>
</div>
