<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="home">Groove</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <li *ngIf="!isAuth" class="nav-item active">
        <a class="nav-link" routerLink="auth/login">Login</a>
      </li>
      <li *ngIf="!isAuth" class="nav-item active">
        <a class="nav-link" routerLink="auth/signup">Signup</a>
      </li>
      <li *ngIf="isAuth" class="nav-item active">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>